<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proxima.gameinteractive"
    android:versionCode= "1"
    android:versionName="proxima">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/imglogo2"
        android:label="Covid Game"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8112552218096927~8978856763"/>
        <activity android:name="com.proxima.gameinteractive.ResultActivity"></activity>
        <activity android:name="com.proxima.gameinteractive.GameActivity" />
        <activity android:name="com.proxima.gameinteractive.MainActivity"
            android:screenOrientation="portrait">
<!--            android:configChanges="keyboardHidden|orientation">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>